@font-face {
    font-family: 'hyperspaceregular';
    src: url('../fonts/hyperspace-webfont.woff2') format('woff2'),
         url('../fonts/hyperspace-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

  body{

            background-color: rgba(30, 30, 30, 1);
            overflow: hidden;

        }

        .atari {font-family: 'hyperspaceregular';}

        #spaceship {
            display:block;
            position: absolute;
            left: -100px;
            top:-100px;
            fill: rgba(255, 255, 255, 0.3);
            width:20px;
            height:15px;
        }

        .rockAnim {
            /*width:100px;
            height:100px;*/
            display:block;
            font-size:2em;
            position: absolute;
            left: -100px;
            top:-100px;
            /*
             *border: 3px solid red;
             *border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3);
            */
            fill: rgba(255, 255, 255, 0.3);
            font-family: 'hyperspaceregular';

        }

        .rockAnim span{
            position: relative;
            font-weight: 700;
            font-size:2em;
            font-family: 'hyperspaceregular';
            top: 12%;
            left:12%;
        }
        .container {

            position: relative;

            z-index:20;
        }

        h1 {
            font-weight:300;
            margin-left:30px;
            margin-top:30px;
            position: relative;
            z-index: 10000;
            color: rgba(255, 255, 255, 0.3);
            font-family: 'hyperspaceregular';


        }
        p{
            margin-left:30px;
        }
        #controls{
            position: absolute;
            z-index: 10000;
            margin:0 auto;
            bottom: 50px;
            width:350px;
        }

        .cntrlButton{
            margin-right:20px;
        }
        cntrlButton:last-child{
            margin-right:0px;
        }

        #gamepad{
          position: absolute;
          left: 0;
          bottom: 0;
          height: 175px;
          width: 100%;
          display: none;

          .gameBtn {
            width: 50px;
            height: 50px;
            position: absolute;
            color: #ff0000;
            border: 1px solid white;
            display: block;

            .glyphicon{
              position: relative;
              top:30%;
              left: 15px

            }

          }
          #btnUp{
            top:5px;
            left: 65px;
          }
          #btnDown{
            top:85px;
            left: 65px;
          }

          #btnLeft{
            top:45px;
            left: 5px;
          }
          #btnRight{
            top:45px;
            left: 127px;
          }

        }

 @media screen and (max-width:760px)
  {
   #gamepad{
     display: block;
   }
  }