$green: rgba(215, 255, 44, 0.9);
$black: #000000;
$white: rgba(255, 255, 255, 1);
$gray: gray;
$red: #d60808;
$spaceship:rgb(0, 145, 0);
$gamePadBtn: rgba(215, 215, 215, 0.75);

.white {
    color: $white;
}

.gray {
    color: $gray;
}

.green {
    color: $green;
}

@font-face {
    font-family: 'hyperspaceregular';
    src: url('../fonts/hyperspace-webfont.woff2') format('woff2'),
        url('../fonts/hyperspace-webfont.woff') format('woff');
    font-weight: normal, bold;
    font-style: normal;
}

@font-face {
    font-family: 'hyperspacebold';
    src: url('../fonts/Hyperspace Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: rgba(30, 30, 30, 1);
    overflow: hidden;
}

#game__wrapper {
    background-image: url('../img/space2.jpg');
    background-color: $black;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.cursorHide {
    cursor: none;
    transition: cursor 2s;
}


.atari {
    font-family: 'hyperspaceregular';

    @media screen and (max-width: 414px) {
        font-size: 0.75em;
    }
}

#scorecard {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 200px;
    height: 70px;
    font-weight: 700;
    padding: 10px;
    text-align: right;
    text-shadow: 2px 2px $black;
    font-size: 1.5em;
}

#spaceship {
    display: block;
    position: absolute;
    left: -100px;
    top: -100px;
    fill: rgba($white, 0.6);
    width: 20px;
    height: 15px;
}

#ufoShip {
    display: block;
    position: absolute;
    left: -100px;
    top: -100px;
    fill: rgba($spaceship, 0.4);
}

#spawn {
    display: block;
    position: absolute;
    left: -100px;
    top: -100px;
}

.rockAnim {
    display: block;
    font-size: 2em;
    position: absolute;
    left: -100px;
    top: -100px;
    fill: rgba($white, 0.6);
    font-family: 'hyperspaceregular';

}

.shot,
.ufoshot {
    display: block;
    position: absolute;
    left: -100px;
    top: -100px;

}

.rockAnim span {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    font-family: 'hyperspaceregular';
    top: 12%;
    left: 12%;
}

.container {
    position: relative;
    z-index: 20;
}

h1 {
    font-weight: 300;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    z-index: 10000;
    color: $white;
    font-family: 'hyperspaceregular';

    .game__title {
        opacity: 0.3;
    }
}

#gameOverBoard.open {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);

}

#gameOverBoard {
    position: absolute;
    display: flex;
    opacity: 0;
    pointer-events: none;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%) scale(.1);
    transition: all .5s ease-out;
    flex-direction: column;
    justify-content: center;
    border: 10px solid rgba($white, 0.3);
    background-color: rgba($black, 0.5);
    border-radius: 100%;
    height: 300px;
    width: 300px;



    #gameover {
        text-shadow: 2px 2px $black;
        font-weight: 900;
        margin: 0 auto;
    }

    #highScore {
        margin: 0 auto;
        margin-top: 5px;
        text-shadow: 2px 2px $black;
        font-family: 'hyperspaceregular';
        font-size: 1.25em;
    }

    #startover {
        width: 150px;
        font-family: 'hyperspaceregular';
        background: $white;
        border-radius: 12px;
        margin: 0 auto;
        margin-top: 15px;
        opacity: 0.5;
    }

    #startover:hover {
        opacity: 1;
        font-weight: 700;
    }
}

p {
    margin-left: 30px;
}

#controls {
    position: absolute;
    z-index: 10000;
    margin: 0 auto;
    bottom: 50px;
    width: 350px;
}

.cntrlButton {
    margin-right: 20px;
}

cntrlButton:last-child {
    margin-right: 0px;
}

#gamepad {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 175px;
    width: 100%;
    display: none;

    .gameBtn {
        width: 50px;
        height: 50px;
        position: absolute;
        color: $red;
        border: 1px solid $white;
        ;
        display: block;
        z-index: 1000;
        background: url('../img/arrow-alt-down.png') center no-repeat;
        background-size: cover;
        background-color: $gamePadBtn;
        border-radius: 50%;

        .glyphicon {
            position: relative;
            top: 30%;
            left: 15px;
            z-index: -1000;
            display: none;
        }
    }

    #btnUp {
        top: 5px;
        left: 75px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    #btnDown {
        top: 85px;
        left: 75px;
    }

    #btnLeft {
        top: 45px;
        left: 15px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #btnRight {
        top: 45px;
        left: 137px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    #btnHS {
        top: 5px;
        right: 20px;
        background: url('../img/h2.png') center no-repeat;
        background-size: cover;
        background-color: $gamePadBtn;
    }

    #btnShoot {
        top: 85px;
        right: 20px;
        background: url('../img/shoot.png') center no-repeat;
        background-size: cover;
        background-color: $gamePadBtn;
    }
}




.modal {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-out;
    font-family: 'hyperspaceregular';
    z-index: 10000;
}

.modal p {
    font-size: 1rem;
    font-family: 'hyperspaceregular', Arial, Helvetica, sans-serif;
}

.modal a {
    color: $gamePadBtn;
    text-decoration: none;
}

.modal a:hover,
.modal a:focus {
    text-shadow: $white 1px 0 20px;
}



.modal p:first-of-type {
    font-weight: 800;
}

.modal.open {
    pointer-events: all;
    opacity: 1;

}

.modal-content {
    padding: 20px;
}

.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    font-size: 2rem;
    background-color: rgba(48, 44, 44, 0.7);
    transform: translate(-50%, -50%) scale(.25);
    transition: all 1s ease-out;
    color: $green;
    background-color: rgba(48, 44, 44, 0.7);
    border: 10px solid $gamePadBtn;
    border-radius: 20%;


}

.modal-dialog h5 {
    font-weight: 900;
}

.modal-dialog.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogCloseBtn {
    margin-top: 20px;
    padding: 10px;
    background-color: green;
    color: white;
    border: 2px solid black;

}


@media screen and (max-width:768px) {

    h1 {
        font-size: 2em;
        margin: 5px 0px 0px 5px;
    }

    #gamepad {
        display: block;
    }

    #highScore {
        left: 12px !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
    highScore {
        left: 12px !important;
    }

}

@media screen and (max-width: 414px) {
    #highScore {
        left: 12px !important;
    }
}