@font-face {
    font-family: 'hyperspaceregular';
    src: url('../fonts/hyperspace-webfont.woff2') format('woff2'),
        url('../fonts/hyperspace-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {

    background-color: rgba(30, 30, 30, 1);
    overflow: hidden;
}

#game__wrapper{
    background-image: url('../img/space2.jpg');
    background-color: #000000;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    position:absolute;
    }

.atari {
    font-family: 'hyperspaceregular';
    @media screen and (max-width: 414px) {
        font-size: 0.75em;
    }  
}

#scorecard {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 200px;
    height: 70px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    text-align: right;
    text-shadow: 2px 2px #000000;
}

#spaceship {
    display: block;
    position: absolute;
    left: -100px;
    top: -100px;
    fill: rgba(255, 255, 255, 0.6);
    width: 20px;
    height: 15px;
}

#ufoShip {
    display: block;
    position: absolute;
    left: -100px;
    top: -100px;
    fill: rgba(0, 145, 0, 0.4);

}

#spawn {
    display: block;
    position: absolute;
    left: -100px;
    top: -100px;
    //border: 1px solid red;
}

.rockAnim {
    /*width:100px;
        height:100px;*/
    display: block;
    font-size: 2em;
    position: absolute;
    left: -100px;
    top: -100px;
    /*
            *border: 3px solid red;
            *border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        */
    fill: rgba(255, 255, 255, 0.6);
    font-family: 'hyperspaceregular';

}

.shot,
.ufoshot {
    display: block;
    position: absolute;
    left: -100px;
    top: -100px;

}

.rockAnim span {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    font-family: 'hyperspaceregular';
    top: 12%;
    left: 12%;
}

.container {

    position: relative;

    z-index: 20;
}

h1 {
    font-weight: 300;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    z-index: 10000;
    color: rgba(255, 255, 255, 0.3);
    font-family: 'hyperspaceregular';


}

#gameOverBoard {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);




    #gameover {
        text-shadow: 2px 2px #000000;
        color: rgba(215, 255, 44, 0.9);
        font-weight: 900;
    }

    #highScore {
        left: 56px;
        position: relative;
        text-shadow: 2px 2px #000000;
        color: rgba(215, 255, 44, 0.9);
        font-family: 'hyperspaceregular';
    }

    #startover {
        position: absolute;
        top: 131%;
        left: 59%;
        width: 150px;
        transform: translate(-60%, -50%);
        font-family: 'hyperspaceregular';
        background: #fff;
        border-radius: 12px;

    }
}

p {
    margin-left: 30px;
}

#controls {
    position: absolute;
    z-index: 10000;
    margin: 0 auto;
    bottom: 50px;
    width: 350px;
}

.cntrlButton {
    margin-right: 20px;
}

cntrlButton:last-child {
    margin-right: 0px;
}

#gamepad {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 175px;
    width: 100%;
    display: none;

    .gameBtn {
        width: 50px;
        height: 50px;
        position: absolute;
        color: #ff0000;
        border: 1px solid white;
        display: block;
        z-index: 1000;
        background: url('../img/arrow-alt-down.png') center no-repeat;
        background-size: cover;
        background-color: rgba(215, 215, 215, 0.75);
        border-radius: 50%;

        .glyphicon {
            position: relative;
            top: 30%;
            left: 15px;
            z-index: -1000;
            display: none;

        }

    }

    #btnUp {
        top: 5px;
        left: 75px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    #btnDown {
        top: 85px;
        left: 75px;

    }

    #btnLeft {
        top: 45px;
        left: 15px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #btnRight {
        top: 45px;
        left: 137px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    #btnHS {
        top: 5px;
        right: 20px;
        background: url('../img/h2.png') center no-repeat;
        background-size: cover;
        background-color: rgba(215, 215, 215, 0.75);

    }

    #btnShoot {
        top: 85px;
        right: 20px;
        background: url('../img/shoot.png') center no-repeat;
        background-size: cover;
        background-color: rgba(215, 215, 215, 0.75);

    }

}

@media screen and (max-width:768px) {

    h1 {
        font-size: 2em;
        margin: 5px 0px 0px 5px;
    }

    #gamepad {
        display: block;
    }

    #highScore {
        left: 12px !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
    highScore {
        left: 12px !important;
    }

}

@media screen and (max-width: 414px) {
    #highScore {
        left: 12px !important;
    }
}